body {
  background-color: #2C3333;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  background-color: #2C3333;
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #395B64;
  border-radius: 10px;
}

.navbar {
  position: absolute;
  width: 90vw;
  display: flex;
  margin: 5px 5vw;
  height: 4em;
  align-items: center;
  background-color: #1f2323;
  border-radius: 1em;
}

@media screen and (max-width: 767px) {
  .App {
    overflow-x: hidden;
  }

  .navbar {
    width: 95vw;
    margin: 10px 2.5vw;
    position: relative;
    /* z-index: 10000; */
  }
}